:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #083049;
  background-color: #f0f9ff;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background-color: #19b0f0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: content-box;
}

button:hover {
  background-color: #0387c6;
}

.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.input:hover {
  border-color: #888;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  background-color: #fff;
}

.input:invalid {
  border-color: #dc3545;
  background-color: #ffe6e6;
}

.input.error {
  border-color: #dc3545;
  background-color: #ffe6e6;
}

/* Placeholder */
.input::placeholder {
  color: #aaa;
  font-style: italic;
}

.searchBox {
  display: flex;
  justify-content: center;
  gap: 32px;
}

li {
  list-style: none;
}
